<form action="/search" method="GET">
  <label>
    City
    <input type="text" name="city">
  </label>
  
  <label>
  	Start-Date
  	<input type="date" name="start-date">
  </label>
  
  <label>
  	End-Date
  	<input type="date" name="end-date">
  </label>
  
  <button type="submit">SEARCH</button>
</form>
